<app-layout>
    <div class="container">
        <app-header title="Estoque" buttonText="Adicionar produto" (click)="openModal(false)"></app-header>
        <app-resumo-estoque-card></app-resumo-estoque-card>
        <app-custom-table [columns]="columns" [data]="estoque" [actions]="actions"
            [noDataMessage]="'Nenhum produto encontrado'"></app-custom-table>

        <app-paginacao *ngIf="!isLoading" (valuePagination)="getPaginacao($event)" [paginacao]="paginacao">
        </app-paginacao>
    </div>

    <!-- Modal de cadastro de produto -->
    <app-modal-cadastro-produto (onError)="onError($event)" [productId]="productId" [isVisible]="isModalVisible"
        [isEditMode]="isEditMode" (onClose)="closeModal()" (onSave)="onProductSaved()" [produto]="selectedProduct">
    </app-modal-cadastro-produto>

    <app-modal-confirmacao [openModal]="isDeleteModalOpen" title="Excluir"
        subTitle="Tem certeza que deseja excluir este produto?" (cancelar)="closeDeleteModal()"
        (confirmar)="deleteProduct()">
    </app-modal-confirmacao>

    <app-modal-sucesso [openModal]="modalSuccess" [title]="titulo" [subTitle]="subTitulo"
        (closeModal)="modalSuccess = !modalSuccess">
    </app-modal-sucesso>

    <app-modal-erro *ngIf="modalError" [openModal]="modalError" [title]="titulo" [subTitle]="subTitulo"
        (closeModal)="modalError = !modalError">
    </app-modal-erro>

    <app-brigadeiro-loading *ngIf="isLoading"></app-brigadeiro-loading>

</app-layout>