<div class="container">
  <div class="header">
    <img src="assets/logo_brigaderia_login.jpg" alt="logo" class="logo">
    <h1>Entre em sua conta</h1>
    <p>Bem-vindo(a)! Por favor, digite suas credenciais</p>
  </div>
  <div class="login">
    <div class="form-control">
      <label>E-mail/Usuário</label>
      <app-input type="text" placeholder=""  [(ngModel)]="login.email" ngDefaultControl></app-input>
    </div>
    <div class="form-control">
      <label>Senha</label>
      <app-input type="password" placeholder=""  [(ngModel)]="login.senha" ngDefaultControl></app-input>
    </div>
    <div class="form-button">
      <app-custom-button type="button" text="Entrar" (click)="logar()"></app-custom-button>
    </div>
    </div>
</div>
