.form-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .form-row {
    display: flex;
    width: 100%;
    gap: 12px;
  }
  
  .responsive-row {
    @media (max-width: 470px) {
      flex-direction: column;
    }
  }
  
  .form-group {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-button {
    background: transparent;
    border: 1px solid black;
  }
  
  .save-button {
    background: black;
    color: white;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .required-symbol {
    color: #bb2d3b;
  }
  
  /* Loading Spinner */
  .brigadeiro-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  /* Modal Specific Adjustments */
  app-modal {
    .modal-body {
      padding: 20px;
    }
    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
    }
  }
  
  