.resume-container {
  box-shadow: 0 2px 12px var(--table-box-shadow-color);
  border-radius: 8px;
  padding: 22px;
  background-color: var(--card-background-color);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;

    .title {
      font-size: 22px;
      width: 100%;
      color: var(--text-color);
      margin: 0;

    }

    .date-filter {
        display: flex;
        gap: 12px;

        .filter-month {
            width: 150px;
        }

        .filter-year {
            width: 95px;
        }
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .resume-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;

      .total-count {
        font-size: 32px;
        color: var(--text-color);
        margin: 0;
      }

      .icon {
        font-size: 42px;
        color: var(--text-color);
      }

      .vendas {
        color: #ffaa00;
      }

      .lucro {
        color: #2dff5b;
      }

      .custo {
        color: #eb4e43;
      }

      .resume-item-label {
        color: var(--text-color)
      }
    }
  }
}
