<div class="card-resumo-estoque-dashboard">
    <div class="header">
        <h3 class="title">Estoque</h3>
        <span (click)="navigate('/estoque/cadastro')" class="see-more-link">Ver mais</span>
    </div>

    <div *ngIf="visibleProducts.length === 0" class="no-data">
      <p>Não há registros no estoque.</p>
    </div>

    <div class="product-list">
      <div *ngFor="let product of visibleProducts" class="product-item">
        <div class="product-details">
          <span class="product-name">{{ product.name }}</span>
          <span class="product-quantity">Quantidade: {{ product.quantity }} unidades</span>
        </div>
        <div
        class="status"
        [ngClass]="{
          'status-pouco': product.status === 'Pouco',
          'status-medio': product.status === 'Médio',
          'status-muito': product.status === 'Muito',
          'status-acabou': product.status === 'Acabou'
        }"
      >
          <span class="status-text">{{ product.status }}</span>
        </div>
      </div>
    </div>
  </div>
  