.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-label {
    margin-bottom: 0.5rem;
    color: var(--label-color);
  }

  .boldLabel {
    font-weight: 600;
  }

  input {
    padding: 10px;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    width: 100%;
    outline: none;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
  }

  input[type="date"],
  input[type="time"],
  input[type="datetime-local"] {
    border: 2px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
  }

 ::ng-deep input[type="date"]::-webkit-calendar-picker-indicator {
    filter: var(--calendar-icon-filter);
    cursor: pointer;
  }

  ::ng-deep input[type="time"]::-webkit-calendar-picker-indicator {
    filter: var(--calendar-icon-filter);
    cursor: pointer;
  }

  ::ng-deep input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: var(--calendar-icon-filter);
    cursor: pointer;
  }
  

  ::ng-deep input[type="date"]::-moz-calendar-picker-indicator {
    filter: var(--calendar-icon-filter)
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="checkbox"] {
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white; 
    border-radius: 3px; 
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  input[type="checkbox"]:checked {
    background-color: black;
    color: white;
    position: relative;
  }

  input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .required-asterisk {
    color: #bb2d3b;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #d9d9d9;
    font-size: 1.5rem;
  }

  .search-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #aaa;
  }

  .search-icon.inputWithLabel {
    top: 70%;
  }

  .readonly {
    background-color: #fcfcfc;
    cursor: not-allowed;
    border: 2px solid var(--Grayscale-200, #f0f0f0);
  }
}
