.header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  .title {
    font-size: 36px;
    color: var(--label-color);

    @media (max-width: 900px) {
      font-size: 24px;
    }
  }

  .controller {
    display: flex;
    align-items: flex-end;
    gap: 12px;

    @media (max-width: 820px) {
      width: 100%;
    }
    
    @media (max-width: 680px) {
      align-items: initial;
    }

    @media (max-width: 680px) {
        flex-direction: column;
      }

    .filter {
      width: 400px;

      @media (max-width: 820px) {
        width: calc(100% - 180px);
      }

      @media (max-width: 520px) {
        width: 100%;
      }
    }

    .date-filter {
      display: flex;
      gap: 18px;

      .row {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 200px;

        @media (max-width: 680px) {
          width: 100%;
        }
        
        .label {
          font-size: 14px;
          color: var(--label-color);
        }
      }

      @media (max-width: 680px) {
        flex-direction: column;
        gap: 12px;
      }
    }

    .select-filter {
      display: flex;
      gap: 18px;

      .row {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 200px;

        @media (max-width: 680px) {
          width: 100%;
        }
        
        .label {
          font-size: 14px;
          color: var(--label-color);
        }
      }

      @media (max-width: 680px) {
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
