<div class="header">
    <h1 class="title">{{title}}</h1>
    <div class="controller">
      <div class="filter" *ngIf="isSearchFilterVisible">
        <app-input (input)="onFilterInputChange($event)" [placeholder]="placeholder" type="search"></app-input>
      </div>
      <div class="date-filter" *ngIf="isDateFilterVisible">
        <div class="row">
          <label class="label">Data início</label>
          <app-input type="date" (input)="onDataInicialChange($event)" [placeholder]="placeholder"></app-input>
        </div>
        <div class="row">
          <label class="label">Data fim</label>
          <app-input type="date" (input)="onDataFinalChange($event)" [placeholder]="placeholder"></app-input>
        </div>
      </div>
      <div class="select-filter" *ngIf="isSelectFilterVisible">
        <div class="row">
          <label class="label">Vendedor(a)</label>
          <app-custom-select 
          [value]="selectOptions.values" 
          [placeholder]="'Selecionar'" 
          [options]="selectOptions" 
          (valueChange)="onSelectChange($event)">
        </app-custom-select>
        </div>
      </div>
      <div class="date-filter" *ngIf="isUniqueDate">
        <div class="row">
          <label class="label">Data da venda</label>
          <app-input type="date" (input)="onDataInicialChange($event)" [placeholder]="placeholder"></app-input>
        </div>
      </div>
      <div class="month-filter-container" *ngIf="isMonthFilterVisible">
        <div class="filter-month">
          <app-custom-select
            [(ngModel)]="selectedMonth"
            [options]="monthOptions"
            [placeholder]="'Mês'"
            (ngModelChange)="onMonthChange($event)">
          </app-custom-select>
        </div>
        <div class="filter-year">
          <app-custom-select
            [(ngModel)]="selectedYear"
            [options]="yearOptions"
            [placeholder]="'Ano'"
            (ngModelChange)="onYearChange($event)">
          </app-custom-select>
        </div>
      </div>
      
      <div *ngIf="isButtonVisible">
        <app-custom-button [isDisabled]="isDisabled" [text]="buttonText" (click)="onButtonClick()"></app-custom-button>
      </div>
    </div>
  </div>
  