button {
  width: 100%;
  padding: 11px 25px 11px 25px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.cancel {
  width: 100%;
  padding: 11px 25px 11px 25px;
  border: 2px solid var(--button-border-color);
  border-radius: 8px;
  font-weight: 600;
  background-color: var(--button-cancel-background-color);
  color: var(--text-color);
  transition: ease 0.3s;

  &:hover {
    background-color: var(--button-hover-disabled-background-color);
    color: white;
    opacity: 1;
  }
}

.disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled-background-color) !important;
  color: #fff !important;
  border: black !important;

}
