.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    z-index: 1040;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  .save-button {
    width: 45%;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .cancel-button {
    width: 45%;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--modal-color);
    padding: 20px;
    border-radius: 5px;
    z-index: 1050;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    opacity: 0;
    min-width: 300px;
    animation: scaleIn 0.3s forwards;
  
    @media (max-width: 748px) {
      width: 80% !important;
      max-height: 600px;
      overflow-y: auto;
      z-index: 10000;
    }
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
  
      @media (max-width: 768px) {
        margin: 0;
      }
  
      .modal-title {
        font-weight: 700;
        font-size: 28px;
        color: var(--text-color);
        margin: 0;
  
        @media (max-width: 900px) {
          font-size: 22px;
        }
      }
    }
  
    .close-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--text-color);
    }
  
    .modal-body {
      padding: 10px 0;
    }
  
    .modal-footer {
      display: flex;
      gap: 12px;
      justify-content: center;
      padding-top: 10px;
  
      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
  
      &.alert-footer {
        display: block;
        text-align: center;
      }
  
      &.noPadding {
        display: none;
      }
    }
  
    &.noPadding {
      padding-bottom: 0 !important;
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  