<app-layout>
    <div class="container">
      <app-header
        [isUniqueDate]="true"
        [isSearchFilterVisible]="false"
        [buttonText]="'Adicionar venda'"
        title="Vendas de caixinhas"
        (dataInicialChange)="onDateInicialChange($event)"
      >
      </app-header>
  
      <app-custom-table
        minWidth="1000px"
        [columns]="columns"
        [data]="vendas"
        [noDataMessage]="'Nenhuma venda registrada.'"
      ></app-custom-table>
      
      <app-paginacao
        *ngIf="!isLoading"
        (valuePagination)="getPaginacao($event)"
        [paginacao]="paginacao"
      ></app-paginacao>
  
      <app-brigadeiro-loading *ngIf="isLoading"></app-brigadeiro-loading>
    </div>
  </app-layout>
  