.table-responsive {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  margin-top: 22px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 13%);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;

  .table-header {
    background-color: #000;
    color: #fbfbfb;

    .table-header-row {
      display: table-row;
    }

    .table-header-cell {
      text-align: left;
      padding: 10px;
      font-weight: bold;
      font-size: 14px;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        padding-right: 16px;
      }

      .table-w-filter {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }

      @media (max-width: 1100px) {
        font-size: 12px;
      }
    }

    .actions-container-header {
      text-align: center;
    }
  }

  .table-body {
    .table-body-row {
      &:nth-child(odd) {
        background-color: #fff;
      }

      &:nth-child(even) {
        background-color: #fff6f6;
      }

      .table-body-cell {
        text-align: left;
        padding: 10px;
        font-size: 14px;
        color: #333;

        @media (max-width: 1100px) {
          font-size: 12px;
        }
      }

      .hasBolderCell {
        &:nth-child(8) {
          font-weight: bold !important;
        }
      }

      .actions-container {
        border-left: none;
        text-align: center !important;

        .action-button {
          cursor: pointer;

          @media (max-width: 1100px) {
            font-size: 20px;
          }
        }
      }
    }
  }

  .error-message {
    text-align: center;
    color: #999;
    padding: 20px;
  }
}

.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  min-width: 100px;

  .material-symbols-outlined {
    font-size: 20px;
  }

  .check {
    font-size: 22px;
  }
}

.status-badge.bloqueado {
  background-color: #fcebec;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.status-badge.desbloqueado {
  background-color: #ebfaee;
  color: #1d7732;
  border: 1px solid #1d77323b;
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #e6eaf0;
}

.see-more-text {
  color: #003166;
  cursor: pointer;
  transition: ease 0.3s;
  font-size: 14px !important;

  @media (max-width: 1100px) {
    font-size: 12px !important;
  }

  &:hover {
    opacity: 0.8;
  }
}

.data-bloqueio-field {
  color: #bb2d3b !important;
}

.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  min-width: 100px;
}

.status-badge .material-symbols-outlined {
  font-size: 20px;
}

.status-badge .check {
  font-size: 22px;
}

.status-badge.bloqueado {
  background-color: #fcebec;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.status-badge.desbloqueado {
  background-color: #ebfaee;
  color: #1d7732;
  border: 1px solid #1d77323b;
}

.total-visitantes-field {
  background-color: #f0f0f0;
  border: 1px solid var(--Grayscale-300, #d9d9d9);
  font-weight: 500;
}

.data-visita-field {
  font-weight: 500;
  background-color: #f0f0f0;
}

.centerCell {
  text-align: center !important;
}

.low-stock {
  color: red !important;
}

.entrada-style {
  color: #1d7732;
  background-color: #ebfaee;
  padding: 6px;
  border-radius: 8px;
  display: inline-flex;
  border: 1px solid #1d77323b;
  align-items: center;
  gap: 4px;
}

.saida-style {
  color: #721c24;
  background-color: #fcebec;
  border: 1px solid #f5c6cb;
  padding: 6px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
