<app-layout [isDashboardPage]="true">
    <div class="container">
        <h2 class="title">Dashboard</h2>
        <div class="wrap">
            <div class="resumo-receita-container">
                <app-resumo-vendas-dashboard></app-resumo-vendas-dashboard>

            </div>
            <div class="resumo-estoque-container">
                <app-card-resumo-estoque-dashboard></app-card-resumo-estoque-dashboard>
            </div>
        </div>
        <app-monthly-sales-chart [year]="2024"></app-monthly-sales-chart>
       
        <app-card-receitas-produzidas></app-card-receitas-produzidas>

    </div>
</app-layout>