<app-modal width="600px" [saveButtonText]="isEditMode ? 'Salvar' : 'Cadastrar usuário'" [isVisible]="isVisible"
    [isAlert]="false" (onClose)="closeModal()" (onSave)="save(userForm)"
    title="{{ isEditMode ? 'Editar usuário' : 'Cadastrar usuário' }}">
    <ng-container modal-body>
        <form #userForm="ngForm" class="form-grid">
            <div class="form-row">
                <div class="form-group">
                    <app-input label="Nome*" type="text" id="nome" name="nome" [(ngModel)]="user.nome"
                        [required]="true"></app-input>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <app-input label="E-mail*" type="email" id="email" name="email" [(ngModel)]="user.email"
                        [required]="true"></app-input>
                </div>
            </div>
            <div class="form-row responsive-row">
                <div class="form-group">
                    <app-input [readonly]="isEditMode" label="Senha*" placeholder="*********" type="password" id="senha"
                        name="senha" [(ngModel)]="user.senha" [required]="true"></app-input>
                </div>
                <div class="form-group">
                    <span class="label">Perfil*</span>
                    <app-custom-select label="Role*" id="role" name="role" [(ngModel)]="user.role"
                        [options]="roleOptions" [required]="true"></app-custom-select>
                </div>

            </div>
        </form>

        <app-modal-erro *ngIf="modalError" [openModal]="modalError" [title]="titulo" [subTitle]="subTitulo"
            (closeModal)="modalError = !modalError">
        </app-modal-erro>
    </ng-container>

    <app-brigadeiro-loading *ngIf="isLoading"></app-brigadeiro-loading>
</app-modal>