.menu-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center; 
  gap: 50px; 
  margin-top: 170px;

  &.expanded {
    align-items: start;
    margin-top: 0px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0; 
    cursor: pointer;

    &.expanded {
      gap: 14px; 
    }

    .icon {
      color: var(--text-color-menu-sidebar);
      font-size: 22px;
      transition: all 0.3s ease;

      &.active {
        color: #000;
      }
    }

    .menu-link {
      text-decoration: none;
      color: var(--text-color-menu-sidebar);
      font-weight: 700;
      font-size: 16px;
      transition: all 0.3s ease;

      &.active {
        color: #000;
      }
    }

    &:hover {
      .icon {
        color: #000;
      }
      .menu-link {
        color: #000;
      }
    }
  }
}
