<ul class="menu-list" [ngClass]="{'expanded': isMenuExpanded}">
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/dashboard')">
        <span class="material-symbols-outlined icon">
            dashboard
        </span>
        <span class="menu-link" *ngIf="isMenuExpanded">Dashboard</span>
    </li>
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/vendas')">
        <span class="material-symbols-outlined icon">
            paid
        </span>
        <span class="menu-link" *ngIf="isMenuExpanded">Vendas</span>
    </li>
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/estoque')">
        <span class="material-symbols-outlined icon">
            inventory_2
        </span>
        <span class="menu-link" *ngIf="isMenuExpanded">Estoque</span>
    </li>
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/entrada-saida-estoque')">
        <span class="material-symbols-outlined icon">
            swap_vert
        </span>
        <span class="menu-link" *ngIf="isMenuExpanded">Entrada/Saída</span>
    </li>
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/receitas')">
        <span class="material-symbols-outlined icon">
            menu_book
        </span>
        <div class="cadastro-item-container">
            <span class="menu-link" *ngIf="isMenuExpanded">Receitas</span>
        </div>
    </li>
    <li class="menu-item" [ngClass]="{'expanded': isMenuExpanded}" (click)="navigate('/producoes')">
        <span class="material-symbols-outlined icon">
            skillet
        </span>
        <span class="menu-link" *ngIf="isMenuExpanded">Produções</span>
    </li>
</ul>
