<ul class="menu-list">
    <li class="menu-item" (click)="navigate('/dashboard')">
        <span class="material-symbols-outlined icon">
            dashboard
        </span>
        <span class="menu-link">Dashboard</span>
    </li>
    <li class="menu-item" (click)="navigate('/estoque')">
        <span class="material-symbols-outlined icon">
            inventory_2
        </span>
        <span class="menu-link">Estoque</span>
    </li>
    <li class="menu-item" (click)="navigate('/receitas')">
        <span class="material-symbols-outlined icon">
            grocery
        </span>
        <div class="cadastro-item-container">
            <span class="menu-link">Receitas</span>
        </div>
    </li>
    <li class="menu-item" (click)="navigate('/producoes')">
        <span class="material-symbols-outlined icon">
            manufacturing
        </span>
        <span class="menu-link">Produções</span>
    </li>
</ul>