<div class="main">
  <app-menu-sidebar></app-menu-sidebar>
  <div class="container">
    <div class="content">
      <div [ngClass]="{'isDashboardPage': isDashboardPage}" class="main-content">
        <ng-content></ng-content>
      </div>
    </div>

    <div class="info-container">
     
      <span class="info username">{{ username }}</span>
      <span class="info">{{ "| " + currentDate() }}</span>

      <div class="theme-toggle">
        <input
          type="checkbox"
          class="checkbox"
          id="theme-toggle-checkbox"
          [checked]="isDarkMode"
          (change)="toggleDarkMode()"
        />
        <label for="theme-toggle-checkbox" class="checkbox-label">
          <span class="material-symbols-outlined icon">dark_mode</span>
          <span class="material-symbols-outlined icon">brightness_7</span>
          <span class="ball"></span>
        </label>
      </div>
    </div>
  </div>
</div>
