.menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  &.expanded {
    width: 220px;
  }

  .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 22px 0;

    img {
      width: 180px;
      height: 180px;
    }
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .menu-footer {
      display: flex;
      gap: 12px;
      margin: 22px 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        .icon {
          color: #000;
        }
        .logout-text {
          color: #000;
        }
      }

      .icon {
        color: #5D6679;
        font-size: 22px;
        transition: all 0.3s ease;
      }

      .logout-text {
        color: #5D6679;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.3s ease;
      }
    }
  }

  @media (max-width: 1360px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    transform: translateX(-60px); 
    transition: width 0.3s ease-in-out, transform 0.3s ease;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;


    &.expanded {
      width: 220px;
      transform: translateX(0); 
    }
  }
}

.toggle-close-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 8px;
  left: 13px;
  color: #5e7d9f;
  z-index: 1100; 
  outline: none;

  .toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
  }
}
