.menu-container {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: var(--background-color-menu-sidebar);
  &.expanded {
    width: 185px;
    padding: 0 16px 0 22px;
  }

  .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0 42px 0;

    img {
      width: 120px;
      height: 80px;
    }
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    &.expanded {
      align-items: initial;
    }

    .menu-footer {
      display: flex;
      flex-direction: column;
      gap: 22px;
      margin: 22px 0;
      cursor: pointer;
      transition: all 0.3s ease;

      .config-container,
      .logout-container {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          .icon {
            color: var(--text-color-hover-menu-sidebar);
          }
          .logout-text {
            color: var(--text-color-hover-menu-sidebar);
          }
        }
      }

      .icon {
        color: var(--text-color-menu-sidebar);
        font-size: 22px;
        transition: all 0.3s ease;
      }

      .logout-text {
        color: var(--text-color-menu-sidebar);
        font-weight: 700;
        font-size: 16px;
        transition: all 0.3s ease;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1360px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    transform: translateX(-60px);
    transition: width 0.3s ease-in-out, transform 0.3s ease;
    background-color: var(--background-color-menu-sidebar);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;

    &.expanded {
      width: 220px;
      transform: translateX(0);
    }
  }
}

.toggle-close-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8px;
  left: 13px;
  color: var(--text-color-menu-sidebar);
  z-index: 1100;
  outline: none;

  .toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    color: var(--text-color-menu-sidebar);
  }
}
