@use "@angular/material" as mat;
@include mat.core(); 
@import './styles/themes.scss';

@import "@angular/material/prebuilt-themes/indigo-pink.css"; 
$grey-color: #909dad;
$title-color: #003166;

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: PT Sans;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: left;
  color: $title-color;
  padding: 0;
  margin: 0;
}
p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: $grey-color;
  margin: 10px 0 0 0;
}
